src/nodered.json
[
  {
    "broker": "99294c14a5c1d647",
    "datatype": "json",
    "id": "mqttin1",
    "inputs": 0,
    "name": "MQTT BMP280",
    "nl": false,
    "qos": "0",
    "rap": true,
    "rh": 0,
    "topic": "esp32/bmp280/data",
    "type": "mqtt in",
    "wires": [["func1"]],
    "x": 120,
    "y": 440,
    "z": "174e02ba7ffee04a"
  },
  {
    "finalize": "",
    "func": "\nreturn msg;",
    "id": "func1",
    "initialize": "",
    "libs": [],
    "name": "To InfluxDB",
    "noerr": 0,
    "outputs": 1,
    "timeout": "",
    "type": "function",
    "wires": [["influx1", "debug1"]],
    "x": 330,
    "y": 440,
    "z": "174e02ba7ffee04a"
  },
  {
    "bucket": "lab4_bmp280",
    "database": "",
    "id": "influx1",
    "influxdb": "da366a047828af23",
    "measurement": "data",
    "name": "InfluxDB",
    "org": "test",
    "precision": "ms",
    "retentionPolicy": "",
    "retentionPolicyV18Flux": "",
    "type": "influxdb out",
    "wires": [],
    "x": 550,
    "y": 420,
    "z": "174e02ba7ffee04a"
  },
  {
    "active": true,
    "complete": "payload",
    "id": "debug1",
    "name": "Debug Output",
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "type": "debug",
    "wires": [],
    "x": 540,
    "y": 480,
    "z": "174e02ba7ffee04a"
  },
  {
    "autoConnect": true,
    "autoUnsubscribe": true,
    "birthMsg": {},
    "birthPayload": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthTopic": "",
    "broker": "test.mosquitto.org",
    "cleansession": true,
    "clientid": "",
    "closeMsg": {},
    "closePayload": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closeTopic": "",
    "id": "99294c14a5c1d647",
    "keepalive": 60,
    "name": "",
    "port": 1883,
    "protocolVersion": 4,
    "sessionExpiry": "",
    "type": "mqtt-broker",
    "userProps": "",
    "usetls": false,
    "willMsg": {},
    "willPayload": "",
    "willQos": "0",
    "willRetain": "false",
    "willTopic": ""
  },
  {
    "database": "lab4_bmp280",
    "hostname": "127.0.0.1",
    "id": "da366a047828af23",
    "influxdbVersion": "2.0",
    "name": "influx",
    "port": 8086,
    "protocol": "http",
    "rejectUnauthorized": true,
    "timeout": 10,
    "tls": "",
    "type": "influxdb",
    "url": "http://localhost:8086",
    "usetls": false
  },
  {
    "env": [],
    "id": "a7825325a6e7e790",
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    },
    "type": "global-config"
  }
]
